<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<% for (let i =0; i < news.length; i++) {%>
<h1><%=news[i].id%>. <%=news[i].headline%></h1>
<h3><%=news[i].full_text%></h3>
<img src="<%=news[i].image_path%>" alt="">
<p><%=news[i].published_data%></p>
<% } %>

</body>
</html>